name: Build & Test CI

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: npm

      - name: Clean install
        run: npm ci

      - name: Lint
        run: npm run lint

  build:
    name: Build
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: npm

      - name: Clean install
        run: npm ci

      - name: Lint
        run: npm run build

  test:
    name: Test (Node.js ${{ matrix.node.name }})
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - name: LTS
            version: lts/*
          - name: Current
            version: node
          - name: Previous LTS
            version: lts/-1
    steps:
      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node.version }}
          cache: npm

      - name: Clean install
        run: npm ci

      - name: Run tests
        run: npm run test:coverage
        if: ${{ matrix.node.version == 'lts/*' }}

      - name: Run tests
        run: npm test
        if: ${{ matrix.node.version != 'lts/*' }}
